html{
    /* font-size: 62.5%; */
    /* font-size: 10px; */
}

* {
    font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
    max-width: 1200px;
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
}

ul {
    padding: 0;
}

li {
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}