html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
}

li {
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    margin-bottom: 50px;
}